:root {
    --background: rgba(230, 216, 210, 1);
    --custom: rgba(134, 96, 81, 1);
    --m3-elevation-light-3: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
    --material-theme-body-large-font-family: "Roboto-Regular", Helvetica;
    --material-theme-body-large-font-size: 16px;
    --material-theme-body-large-font-style: normal;
    --material-theme-body-large-font-weight: 400;
    --material-theme-body-large-letter-spacing: 0px;
    --material-theme-body-large-line-height: 24px;
    --material-theme-body-medium-font-family: "Roboto-Regular", Helvetica;
    --material-theme-body-medium-font-size: 14px;
    --material-theme-body-medium-font-style: normal;
    --material-theme-body-medium-font-weight: 400;
    --material-theme-body-medium-letter-spacing: 0px;
    --material-theme-body-medium-line-height: 20px;
    --material-theme-body-small-font-family: "Roboto-Regular", Helvetica;
    --material-theme-body-small-font-size: 12px;
    --material-theme-body-small-font-style: normal;
    --material-theme-body-small-font-weight: 400;
    --material-theme-body-small-letter-spacing: 0px;
    --material-theme-body-small-line-height: 16px;
    --material-theme-display-large-font-family: "Roboto-Regular", Helvetica;
    --material-theme-display-large-font-size: 57px;
    --material-theme-display-large-font-style: normal;
    --material-theme-display-large-font-weight: 400;
    --material-theme-display-large-letter-spacing: 0px;
    --material-theme-display-large-line-height: 64px;
    --material-theme-display-medium-font-family: "Roboto-Regular", Helvetica;
    --material-theme-display-medium-font-size: 45px;
    --material-theme-display-medium-font-style: normal;
    --material-theme-display-medium-font-weight: 400;
    --material-theme-display-medium-letter-spacing: 0px;
    --material-theme-display-medium-line-height: 52px;
    --material-theme-display-small-font-family: "Roboto-Regular", Helvetica;
    --material-theme-display-small-font-size: 36px;
    --material-theme-display-small-font-style: normal;
    --material-theme-display-small-font-weight: 400;
    --material-theme-display-small-letter-spacing: 0px;
    --material-theme-display-small-line-height: 44px;
    --material-theme-headline-large-font-family: "Roboto-Regular", Helvetica;
    --material-theme-headline-large-font-size: 32px;
    --material-theme-headline-large-font-style: normal;
    --material-theme-headline-large-font-weight: 400;
    --material-theme-headline-large-letter-spacing: 0px;
    --material-theme-headline-large-line-height: 40px;
    --material-theme-headline-medium-font-family: "Roboto-Regular", Helvetica;
    --material-theme-headline-medium-font-size: 28px;
    --material-theme-headline-medium-font-style: normal;
    --material-theme-headline-medium-font-weight: 400;
    --material-theme-headline-medium-letter-spacing: 0px;
    --material-theme-headline-medium-line-height: 36px;
    --material-theme-headline-small-font-family: "Roboto-Regular", Helvetica;
    --material-theme-headline-small-font-size: 24px;
    --material-theme-headline-small-font-style: normal;
    --material-theme-headline-small-font-weight: 400;
    --material-theme-headline-small-letter-spacing: 0px;
    --material-theme-headline-small-line-height: 32px;
    --material-theme-label-large-font-family: "Roboto-Medium", Helvetica;
    --material-theme-label-large-font-size: 14px;
    --material-theme-label-large-font-style: normal;
    --material-theme-label-large-font-weight: 500;
    --material-theme-label-large-letter-spacing: 0px;
    --material-theme-label-large-line-height: 20px;
    --material-theme-label-medium-font-family: "Roboto-Medium", Helvetica;
    --material-theme-label-medium-font-size: 12px;
    --material-theme-label-medium-font-style: normal;
    --material-theme-label-medium-font-weight: 500;
    --material-theme-label-medium-letter-spacing: 0px;
    --material-theme-label-medium-line-height: 16px;
    --material-theme-label-small-font-family: "Roboto-Medium", Helvetica;
    --material-theme-label-small-font-size: 11px;
    --material-theme-label-small-font-style: normal;
    --material-theme-label-small-font-weight: 500;
    --material-theme-label-small-letter-spacing: 0px;
    --material-theme-label-small-line-height: 16px;
    --material-theme-title-large-font-family: "Roboto-Regular", Helvetica;
    --material-theme-title-large-font-size: 22px;
    --material-theme-title-large-font-style: normal;
    --material-theme-title-large-font-weight: 400;
    --material-theme-title-large-letter-spacing: 0px;
    --material-theme-title-large-line-height: 28px;
    --material-theme-title-medium-font-family: "Roboto-Medium", Helvetica;
    --material-theme-title-medium-font-size: 16px;
    --material-theme-title-medium-font-style: normal;
    --material-theme-title-medium-font-weight: 500;
    --material-theme-title-medium-letter-spacing: 0px;
    --material-theme-title-medium-line-height: 24px;
    --material-theme-title-small-font-family: "Roboto-Medium", Helvetica;
    --material-theme-title-small-font-size: 14px;
    --material-theme-title-small-font-style: normal;
    --material-theme-title-small-font-weight: 500;
    --material-theme-title-small-letter-spacing: 0px;
    --material-theme-title-small-line-height: 20px;
    --material-themeblack: rgba(0, 0, 0, 1);
    --material-themekey-colorsprimary: rgba(119, 106, 62, 1);
    --material-themereferrorerror0: rgba(0, 0, 0, 1);
    --material-themereferrorerror10: rgba(65, 0, 2, 1);
    --material-themereferrorerror100: rgba(255, 255, 255, 1);
    --material-themereferrorerror20: rgba(105, 0, 5, 1);
    --material-themereferrorerror25: rgba(126, 0, 7, 1);
    --material-themereferrorerror30: rgba(147, 0, 10, 1);
    --material-themereferrorerror35: rgba(168, 7, 16, 1);
    --material-themereferrorerror40: rgba(186, 26, 26, 1);
    --material-themereferrorerror5: rgba(45, 0, 1, 1);
    --material-themereferrorerror50: rgba(222, 55, 48, 1);
    --material-themereferrorerror60: rgba(255, 84, 73, 1);
    --material-themereferrorerror70: rgba(255, 137, 125, 1);
    --material-themereferrorerror80: rgba(255, 180, 171, 1);
    --material-themereferrorerror90: rgba(255, 218, 214, 1);
    --material-themereferrorerror95: rgba(255, 237, 234, 1);
    --material-themereferrorerror98: rgba(255, 248, 247, 1);
    --material-themereferrorerror99: rgba(255, 251, 255, 1);
    --material-themerefneutral-variantneutral-variant0: rgba(0, 0, 0, 1);
    --material-themerefneutral-variantneutral-variant10: rgba(31, 27, 16, 1);
    --material-themerefneutral-variantneutral-variant100: rgba(255, 255, 255, 1);
    --material-themerefneutral-variantneutral-variant20: rgba(52, 48, 36, 1);
    --material-themerefneutral-variantneutral-variant25: rgba(64, 59, 46, 1);
    --material-themerefneutral-variantneutral-variant30: rgba(75, 70, 57, 1);
    --material-themerefneutral-variantneutral-variant35: rgba(87, 82, 68, 1);
    --material-themerefneutral-variantneutral-variant40: rgba(99, 94, 80, 1);
    --material-themerefneutral-variantneutral-variant5: rgba(20, 17, 7, 1);
    --material-themerefneutral-variantneutral-variant50: rgba(125, 119, 103, 1);
    --material-themerefneutral-variantneutral-variant60: rgba(151, 144, 128, 1);
    --material-themerefneutral-variantneutral-variant70: rgba(178, 171, 154, 1);
    --material-themerefneutral-variantneutral-variant80: rgba(206, 198, 180, 1);
    --material-themerefneutral-variantneutral-variant90: rgba(234, 226, 207, 1);
    --material-themerefneutral-variantneutral-variant95: rgba(249, 240, 221, 1);
    --material-themerefneutral-variantneutral-variant98: rgba(255, 248, 239, 1);
    --material-themerefneutral-variantneutral-variant99: rgba(255, 251, 255, 1);
    --material-themerefneutralneutral0: rgba(0, 0, 0, 1);
    --material-themerefneutralneutral10: rgba(29, 27, 22, 1);
    --material-themerefneutralneutral100: rgba(255, 255, 255, 1);
    --material-themerefneutralneutral20: rgba(51, 48, 42, 1);
    --material-themerefneutralneutral25: rgba(62, 59, 53, 1);
    --material-themerefneutralneutral30: rgba(73, 70, 64, 1);
    --material-themerefneutralneutral35: rgba(85, 82, 75, 1);
    --material-themerefneutralneutral40: rgba(97, 94, 87, 1);
    --material-themerefneutralneutral5: rgba(19, 17, 12, 1);
    --material-themerefneutralneutral50: rgba(123, 119, 111, 1);
    --material-themerefneutralneutral60: rgba(149, 144, 136, 1);
    --material-themerefneutralneutral70: rgba(176, 171, 162, 1);
    --material-themerefneutralneutral80: rgba(203, 198, 189, 1);
    --material-themerefneutralneutral90: rgba(232, 226, 217, 1);
    --material-themerefneutralneutral95: rgba(246, 240, 231, 1);
    --material-themerefneutralneutral98: rgba(255, 248, 239, 1);
    --material-themerefneutralneutral99: rgba(255, 251, 255, 1);
    --material-themerefprimaryprimary0: rgba(0, 0, 0, 1);
    --material-themerefprimaryprimary10: rgba(35, 27, 0, 1);
    --material-themerefprimaryprimary100: rgba(255, 255, 255, 1);
    --material-themerefprimaryprimary20: rgba(59, 47, 0, 1);
    --material-themerefprimaryprimary25: rgba(72, 58, 0, 1);
    --material-themerefprimaryprimary30: rgba(85, 69, 0, 1);
    --material-themerefprimaryprimary35: rgba(99, 81, 0, 1);
    --material-themerefprimaryprimary40: rgba(113, 93, 0, 1);
    --material-themerefprimaryprimary5: rgba(22, 16, 0, 1);
    --material-themerefprimaryprimary50: rgba(142, 117, 0, 1);
    --material-themerefprimaryprimary60: rgba(171, 142, 18, 1);
    --material-themerefprimaryprimary70: rgba(199, 169, 48, 1);
    --material-themerefprimaryprimary80: rgba(229, 196, 74, 1);
    --material-themerefprimaryprimary90: rgba(255, 225, 118, 1);
    --material-themerefprimaryprimary95: rgba(255, 240, 198, 1);
    --material-themerefprimaryprimary98: rgba(255, 248, 239, 1);
    --material-themerefprimaryprimary99: rgba(255, 251, 255, 1);
    --material-themerefsecondarysecondary0: rgba(0, 0, 0, 1);
    --material-themerefsecondarysecondary10: rgba(33, 27, 4, 1);
    --material-themerefsecondarysecondary100: rgba(255, 255, 255, 1);
    --material-themerefsecondarysecondary20: rgba(55, 48, 22, 1);
    --material-themerefsecondarysecondary25: rgba(67, 59, 32, 1);
    --material-themerefsecondarysecondary30: rgba(79, 70, 42, 1);
    --material-themerefsecondarysecondary35: rgba(91, 82, 53, 1);
    --material-themerefsecondarysecondary40: rgba(103, 94, 64, 1);
    --material-themerefsecondarysecondary5: rgba(22, 16, 0, 1);
    --material-themerefsecondarysecondary50: rgba(129, 119, 87, 1);
    --material-themerefsecondarysecondary60: rgba(155, 144, 110, 1);
    --material-themerefsecondarysecondary70: rgba(183, 171, 135, 1);
    --material-themerefsecondarysecondary80: rgba(211, 198, 161, 1);
    --material-themerefsecondarysecondary90: rgba(240, 226, 187, 1);
    --material-themerefsecondarysecondary95: rgba(254, 240, 201, 1);
    --material-themerefsecondarysecondary98: rgba(255, 248, 239, 1);
    --material-themerefsecondarysecondary99: rgba(255, 251, 255, 1);
    --material-themereftertiarytertiary0: rgba(0, 0, 0, 1);
    --material-themereftertiarytertiary10: rgba(1, 33, 14, 1);
    --material-themereftertiarytertiary100: rgba(255, 255, 255, 1);
    --material-themereftertiarytertiary20: rgba(22, 55, 33, 1);
    --material-themereftertiarytertiary25: rgba(34, 66, 43, 1);
    --material-themereftertiarytertiary30: rgba(45, 78, 54, 1);
    --material-themereftertiarytertiary35: rgba(57, 90, 65, 1);
    --material-themereftertiarytertiary40: rgba(69, 102, 77, 1);
    --material-themereftertiarytertiary5: rgba(0, 21, 7, 1);
    --material-themereftertiarytertiary50: rgba(93, 127, 100, 1);
    --material-themereftertiarytertiary60: rgba(118, 153, 125, 1);
    --material-themereftertiarytertiary70: rgba(144, 180, 150, 1);
    --material-themereftertiarytertiary80: rgba(171, 208, 177, 1);
    --material-themereftertiarytertiary90: rgba(198, 236, 204, 1);
    --material-themereftertiarytertiary95: rgba(212, 250, 218, 1);
    --material-themereftertiarytertiary98: rgba(234, 255, 234, 1);
    --material-themereftertiarytertiary99: rgba(245, 255, 243, 1);
    --material-themesourceseed: rgba(119, 106, 62, 1);
    --material-themesurfacesdarksurface1: rgba(29, 27, 22, 1);
    --material-themesurfacesdarksurface2: rgba(29, 27, 22, 1);
    --material-themesurfacesdarksurface3: rgba(29, 27, 22, 1);
    --material-themesurfacesdarksurface4: rgba(29, 27, 22, 1);
    --material-themesurfacesdarksurface5: rgba(29, 27, 22, 1);
    --material-themesurfaceslightsurface1: rgba(255, 251, 255, 1);
    --material-themesurfaceslightsurface2: rgba(255, 251, 255, 1);
    --material-themesurfaceslightsurface3: rgba(255, 251, 255, 1);
    --material-themesurfaceslightsurface4: rgba(255, 251, 255, 1);
    --material-themesurfaceslightsurface5: rgba(255, 251, 255, 1);
    --material-themesysdarkbackground: rgba(29, 27, 22, 1);
    --material-themesysdarkerror: rgba(255, 180, 171, 1);
    --material-themesysdarkerror-container: rgba(147, 0, 10, 1);
    --material-themesysdarkinverse-on-surface: rgba(29, 27, 22, 1);
    --material-themesysdarkinverse-primary: rgba(113, 93, 0, 1);
    --material-themesysdarkinverse-surface: rgba(232, 226, 217, 1);
    --material-themesysdarkon-background: rgba(232, 226, 217, 1);
    --material-themesysdarkon-error: rgba(105, 0, 5, 1);
    --material-themesysdarkon-error-container: rgba(255, 218, 214, 1);
    --material-themesysdarkon-primary: rgba(59, 47, 0, 1);
    --material-themesysdarkon-primary-container: rgba(255, 225, 118, 1);
    --material-themesysdarkon-secondary: rgba(55, 48, 22, 1);
    --material-themesysdarkon-secondary-container: rgba(240, 226, 187, 1);
    --material-themesysdarkon-surface: rgba(203, 198, 189, 1);
    --material-themesysdarkon-surface-variant: rgba(206, 198, 180, 1);
    --material-themesysdarkon-tertiary: rgba(22, 55, 33, 1);
    --material-themesysdarkon-tertiary-container: rgba(198, 236, 204, 1);
    --material-themesysdarkoutline: rgba(151, 144, 128, 1);
    --material-themesysdarkoutline-variant: rgba(75, 70, 57, 1);
    --material-themesysdarkprimary: rgba(229, 196, 74, 1);
    --material-themesysdarkprimary-container: rgba(85, 69, 0, 1);
    --material-themesysdarkscrim: rgba(0, 0, 0, 1);
    --material-themesysdarksecondary: rgba(211, 198, 161, 1);
    --material-themesysdarksecondary-container: rgba(79, 70, 42, 1);
    --material-themesysdarkshadow: rgba(0, 0, 0, 1);
    --material-themesysdarksurface: rgba(29, 27, 22, 1);
    --material-themesysdarksurface-tint: rgba(229, 196, 74, 1);
    --material-themesysdarksurface-variant: rgba(75, 70, 57, 1);
    --material-themesysdarktertiary: rgba(171, 208, 177, 1);
    --material-themesysdarktertiary-container: rgba(45, 78, 54, 1);
    --material-themesyslightbackground: rgba(255, 251, 255, 1);
    --material-themesyslighterror: rgba(186, 26, 26, 1);
    --material-themesyslighterror-container: rgba(255, 218, 214, 1);
    --material-themesyslightinverse-on-surface: rgba(246, 240, 231, 1);
    --material-themesyslightinverse-primary: rgba(229, 196, 74, 1);
    --material-themesyslightinverse-surface: rgba(51, 48, 42, 1);
    --material-themesyslighton-background: rgba(29, 27, 22, 1);
    --material-themesyslighton-error: rgba(255, 255, 255, 1);
    --material-themesyslighton-error-container: rgba(65, 0, 2, 1);
    --material-themesyslighton-primary: rgba(255, 255, 255, 1);
    --material-themesyslighton-primary-container: rgba(35, 27, 0, 1);
    --material-themesyslighton-secondary: rgba(255, 255, 255, 1);
    --material-themesyslighton-secondary-container: rgba(33, 27, 4, 1);
    --material-themesyslighton-surface: rgba(29, 27, 22, 1);
    --material-themesyslighton-surface-variant: rgba(75, 70, 57, 1);
    --material-themesyslighton-tertiary: rgba(255, 255, 255, 1);
    --material-themesyslighton-tertiary-container: rgba(1, 33, 14, 1);
    --material-themesyslightoutline: rgba(125, 119, 103, 1);
    --material-themesyslightoutline-variant: rgba(206, 198, 180, 1);
    --material-themesyslightprimary: rgba(113, 93, 0, 1);
    --material-themesyslightprimary-container: rgba(255, 225, 118, 1);
    --material-themesyslightscrim: rgba(0, 0, 0, 1);
    --material-themesyslightsecondary: rgba(103, 94, 64, 1);
    --material-themesyslightsecondary-container: rgba(240, 226, 187, 1);
    --material-themesyslightshadow: rgba(0, 0, 0, 1);
    --material-themesyslightsurface: rgba(255, 251, 255, 1);
    --material-themesyslightsurface-tint: rgba(113, 93, 0, 1);
    --material-themesyslightsurface-variant: rgba(234, 226, 207, 1);
    --material-themesyslighttertiary: rgba(69, 102, 77, 1);
    --material-themesyslighttertiary-container: rgba(198, 236, 204, 1);
    --material-themewhite: rgba(255, 255, 255, 1);
    --unselected-custom: rgba(175, 147, 137, 1);
    --x-4b-31-2c: rgba(75, 49, 44, 1);
  }
  